extends ../layout

block content
    form(method='POST' action='/post/update/'+ post.id)
          div.form-group
            label(for='Title') Title:
            input#Title.form-control(type='text', placeholder='Title' name='title' value= post.title)
          div.form-group
            label(for='Content') Content:
            input#Content.form-control(type='Content', placeholder='Content' name='content' value= post.content)
          button.btn.btn-primary(type='submit') Make Post