.header
    a(href='/') Home
    unless userid
        a(href='/users/login') Login
        a(href='/users/create') Register
    if userid
        a(href='/users/profile') Profile
        a(href='/users/logout') Logout