.header
    .headerlinks
        a(href='/') Home
        a(href='/post') Posts
        unless userid
            a(href='/users/login') Login
            a(href='/users/create') Register
        if userid
            a(href='/users/userprofile') Profile
            a(href='/users/logout') Logout
        if message
            p #{message}