body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.postcontent >a{
  text-decoration:none;
  font-size:18px; 
}

.headerlinks > a {
    color: black;
    margin-left: 5px;
    text-decoration: none;
}